* {
    box-sizing: border-box;
}

@font-face {
    font-family: "RubikDistressed";
    src: url("/fonts/RubikDistressed-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e3ff;
}

main {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.marquee {
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: #e9e3ff;
    color: #333;
}

.marquee h1 {
    font-family: "RubikDistressed";
    position: absolute;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}