<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <h1>Hello frontend masters</h1>
    <div id="app">
        <h1> {{counterTitle}}</h1>
        <table>
            <td>
                <th>Name</th>
                <th>Gender</th>
                <th>Button</th>
            </td>
            <tr v-for="(character,index) in listOfCharacters">
                <td>{{character.name}}</td>
                <td> {{character.gender}}</td>
                <td><button @click="favoriteCharacter(character)">Favorite</button></td>
            </tr>
        </table>
        <h2>Favorite character</h2>
        <ul>
            <p v-if="favoriteList.length > 0">
                <li v-for="character in favoriteList">
                    {{character.name}}
                </li>
            </p>
            <p v-else>
                No favorite character
            </p>
        </ul>
        <h2>New character</h2>
        <p>
            {{newCharacter}}
        </p>
        <label for="character-name">Name</label>
        <input type="text" v-model="newCharacter.name" placeholder="Enter the new character's name"
            @keyup.enter="addNewCharacter" />

        <h1>Counter</h1>
        <p>{{count}}</p>
        <button v-on:click="incrementCount">Increment Count</button>
        <h1>{{incrementAmount}}</h1>
        <div>
            <label for="incrementAmount">
                Increment by:
            </label>
            <!-- <input type="number" 
            v-bind:value="incrementAmount" 
            v-on:input="changeIncrementAmount"  
            v-model = "incrementAmount"
            /> -->
            <input type="number" v-model="incrementAmount" />
        </div>
    </div>
</body>
<script>
    const { createApp } = Vue
    const app = createApp({
        data() {
            return {
                count: 10,
                counterTitle: "Counter Standard",
                favoriteList: [],
                newCharacter: {
                    name: ''
                },
                incrementAmount: 10,
                listOfCharacters: [
                    { name: "Monica", gender: "Female" },
                    { name: "Phoebe", gender: "Female" },
                    { name: "Rachael", gender: "Female" },
                    { name: "Ross", gender: "Male" },
                    { name: "Chandler", gender: "Male" },
                    { name: "Joey", gender: "Male" },
                    { name: "Janice", gender: "Female" },
                ]
            }
        },
        computed: {
            displayTitle(){
                if(this.count > 20){
                    return "counter standard - very long";
                }else{
                    return "counter standard";
                }
            }
        },
        methods: {
            favoriteCharacter(character) {
                this.favoriteList.push(character)
                console.log(this.favoriteList)
            },
            incrementCount() {
                this.count += this.incrementAmount;
            },
            changeIncrementAmount(event) {
                // this.incrementAmount = Number(event.target.value);
                this.incrementAmount = event.target.value;
            },
            addNewCharacter() {
                this.listOfCharacters.push(this.newCharacter)
                this.newCharacter = {
                    name: ''
                }
            }
        },
        watch: {
            count(newValue) {
                if (newValue > 20) {
                    this.counterTitle += "Counter High"
                }
            }
        }
    })
    app.mount("#app")
</script>

</html>