<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ counterTitle }}</h1>
      <p v-if="message.length%2===0">Even: {{message}}</p>
      <p v-else>Odd: {{message.toUpperCase()}}</p>
      <ul>
        <li v-for="item in listOfNumbers">
          {{item.id}}
          <ul>
            <li v-for="number in item.list">{{number}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js">
    </script>  
    <script>
      //vue 1
      const {createApp} = Vue

      //vue 2
      // new Vue()

      const app = Vue.createApp({
        data () {
          return {
            counterTitle:"hello frontend masters",
            message: "Hello it works!",
            listOfNumbers: [{
              name: 1,
              id: '5a887-f0bf-b192-9201f82a883',
              list: [1,2,3]
            },
            {
              name: 2,
              id: '6a887-f0bf-b192-9201f82a883',
              list: [1,2,3]
            },
            {
              name: 3,
              id: '7a887-f0bf-b192-9201f82a883',
              list: [1,2,3]
            },
            {
              name: 4,
              id: '8a887-f0bf-b192-9201f82a883',
              list: [1,2,3]
            },
            {
              name: 5,
              id: '69887-f0bf-b192-9201f82a883',
              list: [1,2,3]
            }
            ]
          }
        },
        
      });
      app.mount('#app');
    </script>
  </body>
</html>
